<policy>
   <application-policy name="@PROJECT_NAME@">
	 <authentication>
	    <login-module code="gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule" flag="required">
		<module-option name="ldapHost">@LDAP_HOST@</module-option>
		<module-option name="ldapSearchableBase">@LDAP_CONTEXT@</module-option>
		<module-option name="ldapUserIdLabel">cn</module-option>
	    </login-module>
	 </authentication>
    </application-policy>
</policy>